{% extends "base.html" %}
{% load widget_filters %}
{% block content %}
<div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> Getting Started</h1>
                </div>
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section class="url-section outoffocus">
                                <h2 class="section-title">Adding your web page to the permaweb</h2>
                                <div class="section-block">
                                    <p>First off, you'll need to get the full web address of the web page you want and pop it in the URL field below.</p>
                                    <p>Next up you can review the option available for storing the pages content and finally generate your new permanent page archive!</p>
                                </div>
                            </section>
                            <section id="url-section" class="doc-section outoffocus">
                                <form method="post" action="{% url 'get_content' %}">
                                    {{form.errors}}
                                    {% csrf_token %}
                                    <fieldset>
                                        {{form.url|addcss:'form-control'}}
                                    </fieldset>
                                    <br/>
                                    <button class="btn btn-cta btn-orange">Fetch Page Content for Review</button>
                                </form>
                            </section>
                            <hr/>
                            <section id="options-section" class="doc-section">

                                <form method="post" action="{% url 'publish_page' %}">
                                    {% csrf_token %}
                                    {{form.url.as_hidden}}
                                    <label><strong>How would you like to store this page's content?</strong></label>
                                    <select id="publish_as" name="publish_as" class="form-control">
                                        <option value="readable" selected="selected">Create readable version</option>
                                        <option value="archive">Archive this page on the Arweave</option>
                                    </select>
                                    <br>
                                    <div id="readable">
                                        <p>Your page's content, images, css and javascript will be extracted from this page and made into a new readable version of the page and then uploaded to the Arweave where it will be permanently viewable.</p>
                                        <h2>{{newspaper.title}}</h2>
                                        <br>
                                        <p>
                                            <label>
                                                <input type="checkbox" name="include_images" checked="checked"> Include Images?
                                            </label>
                                            <img src="{{newspaper.top_image}}" width="100%"/>
                                            <label>Top Image</label>
                                        </p>
                                        <h3>Article</h3>
                                        <input type="hidden" name="newspaper_text" value="{{newspaper.text}}" >
                                        <p>
                                            {{newspaper.text|truncatechars:600}}
                                        </p>
                                        {% if newpaper.authors.length > 0 %}
                                            <h3>Authors</h3>
                                            <p>{{newspaper.authors}}</p>
                                        {% endif %}

                                        <label for="tags">Keywords</label>
                                        <input name="tags" type="hidden" autocomplete="off" value="{{newspaper.keywords|to_comma_separated_string}}">
                                        <br>
                                        <h3>Summary</h3>
                                        <p>{{newspaper.summary}}</p>
                                    </div>
                                    <div id="archive">
                                        <p>Your page's content, images, css and javascript will be compiled and uploaded to the Arweave where it will be permanently viewable.</p>
                                    </div>
                                    <br/>
                                    <button class="btn btn-cta btn-success">Publish this Page</button>
                                </form>
                            </section>


                        </div>
                    </div>
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">

	                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
	                                <a class="nav-link scrollto" href="/">Enter URL</a>
	                                <a class="nav-link scrollto active" href="#options-section">Select Options</a>
                                    <a class="nav-link scrollto" href="#publish-section">Publish Your Page</a>
                                    <a class="nav-link scrollto" href="#publish-details-section">Permaweb Details</a>
	                            </nav>

                        </div>
                    </div>
                </div>
{% endblock %}

{% block js_extra %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('[name=tags]')
            .tagify()
            .on('add', function(e, tagName){
                console.log('added', tagName)
            });

            $('body').scrollTo($('#options-section'), 800);

            $('#publish_as').change(function(event) {
                var option = event.target.value;

                if(option == 'readable') {
                    $('#archive').addClass('hidden');
                    $('#readable').removeClass('hidden');
                } else {
                    $('#archive').removeClass('hidden');
                    $('#readable').addClass('hidden');
                }
            });
        });
    </script>
{% endblock %}